
/*hamburger menu*/ 

nav {
    display: none;
    border-bottom: 1px;
    height: 70px;
    flex-direction: column;
    

}

ul a{
    text-decoration: none;
    padding: 5px;
    color: #2870b9;

}
nav ul {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: #2870b9;
    background-color: #fff;
  

}
#hamburger-menu:checked ~ nav {

    display: block;
}

#hamburger-menu {
    display: none;
    
}

.hamburger-label{
    padding-right: 10px ;
    color: #fff;
    display: block;
}

.container-2 {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
   
}
.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

#container a , .container a{
    margin-top: 0px;
}



main {
   max-width: 1300px;
    margin: auto;
}

.orenge {
    background-color: #d07c30;

}

.login , .cart_image, .search_image {
    padding: 2px 0px;
   
}



body {
    font-family: "montserrat";
    

}

header a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
  

.blue_margin{
    margin: 0px;
    margin: 0 auto;
    max-width: 1300px;
}

.blue {
    background-color: #2870b9;
    
   

}

.blue a{
    color:#2870b9;
    font-size: 20px;
}

.cart_image {
  max-width: 30px;
}


.login_image {
    max-width: 30px;
    border-radius: 50%;  

}
   
.search_image {
    max-width: 30px;
   
}


.logo_image {
    background-color: #fff;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}


.Home_image {
    max-width: 30px;
    
    border-left: 1px solid #fff;
    border-right-style: inset;
    padding-left: 10px;
    padding-right: 10px;
}



.Register {
    background-color: #2870b950;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex; 
    text-align:  center;
    align-content: center;
    max-width: 1300px;
    margin: auto;
    height: 3vh;

    
}


.cta_men ,
.cta_women,
.cta_explore {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    height: 400px;
    margin: 5px auto;
    margin-top: 0px;
    max-width: 1300px;
    position: relative;
   
}
.cta_explore{
    background-image: url('../images/explore.jpeg');
    min-height: 500px;
}

.cta_men {
    background-image: url('../images/men-cta.jpeg');
    background-position-x: right;
    
}


.cta_women {
    background-image: url('../images/women-cta.jpg');
    background-position-y: bottom;
}

.cta_orange{
    position: relative;
}

.women_position ,  .explore_position {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.men_position {
    position: absolute;
    bottom: 10%;
    left:5%;
    
}




/*link*/ 
a {
    text-decoration: none;
}

.cta_blue a {
    background-color: #2870b9;
    border-radius: 15px;
    color: #fff;
    font-size: 25px;
    padding: 15px 40px ;
    
}

.cta_blue a:hover ,
.cta_blue-big:hover 
{
    background-color: #5586b8;
}


.cta_orange a {
    background-color: #d07c30;
    color: #fff;
    font-size: 25px;
    padding: 13px 40px ;
    border-radius: 15px;
    
}

.cta_men a {
    padding: 15px 60px;
}



.cta_orange a:hover {
    background-color: #bf8655;
}

.cta_blue-big {
    background-color: #2870b9;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    padding: 15px 35px ;
    grid-row: auto;
    grid-column: auto;
    margin: 10px;
   
   
}


.Register a {
color: #A84732;
font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  font-size: 15px;
 margin: auto ;
}


.items {
   display: grid;
   grid-template-columns: 1fr auto ;
   grid-template-rows: 1fr 60px 10px 100px ;
   align-items: center;
   background-color: #fff; 
   box-shadow: 0 0 20px -8px ; 
   
}

.items h2 {
margin:auto; 

grid-column: 1/3;
padding-right: 110px;
}

.items h3 {
    margin-bottom: 20px;
    grid-row: 3;
    grid-column: 1;
    margin: 10px;
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
}


.items p{
grid-column: 1;
font-size: 30px;
margin: 10px;
}


.items img {
    grid-column: -1/1;
}


.h2-size {
display: grid;
grid-template-columns: 1fr;

margin: 50px auto;
grid-gap: 15px;
}

.h2-size h1 {
 display: grid;
 grid-column: -1/1 ;
}

.h2-size img {
    width: 100%;
}



.h2-size h2{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

footer {
background-color: #08080892;
display: flex;
justify-content: space-between;
flex-direction: column;


}

footer div{
    padding:30px;
    color: white;
    margin: auto;


}




footer h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    font-size: 30px;
}

.about-us a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    font-size: 30px;
    color: white;
   
}

.Follow-us {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  color: white;
  display:flex;
  display: block;
  flex-grow: 20px;
  

}

footer p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}


